<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/3452448514.js" crossorigin="anonymous"></script>
<footer>
    <p><i class="far fa-copyright"></i>&nbsp;Ajay&nbsp; All rights reserved </p>
    <a href="/"><p>Home</p></a>
    <a href="/users/profile"><p>Profile</p></a>
</footer>