<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<header>
    <h2>Codeial</h2>

    <ul>
        <%if(locals.user){%>
            <li><a href="/users/profile"><%=locals.user.name%></a></li>
            <li><a href="/users/logout">Logout</a></li>
        <%}else{%>
            <li><a href="/users/sign-in">Sign-in</a></li>
            <li><a href="/users/sign-up">Sign-up</a></li>
        <%}%>
    </ul>
</header>