<link rel="stylesheet" href="<%= assetPath('css/resetPassword.css')%>">
<div>
  <div>
    <form action="/users/update-password" method="POST">
      <input type="text" placeholder="new password" name="password">
      <input type="text" placeholder="re-enter password" name="rePassword">
      <input type="submit">
    </form>
  </div>
</div>

