<div>
    <link rel="stylesheet" href="/css/users-profile.css">


<%if(profile_user.id == locals.user.id){%>
    <%if(profilePic){%>
        <img src="/images/<%=profilePic%>" alt="profilePic" id="profile-pic">
    <%}%>
    
    <h1>Update your profile</h1>
    
    <form action="/users/profile/update" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="name.." value="<%=profile_user.name%>" required>
        <input type="email" name="email" required placeholder="email...">
        <input type="file" name="avatar" placeholder="upload profile pic" />
        <input type="submit">
    </form>
<%}else{%>
    <p><%=profile_user.name%></p>
    <p><%=profile_user.email%></p>

<%}%>
</div>