<link rel="stylesheet" href="/css/user_sign_in.css">
<div>
    <h1>Sign In Page</h1>
    <form action="/users/create-session" method="POST">
        
            
        <input type="email" id="email" name="email" placeholder="Your Email" required>
    
    
        <input type="password" name="password" placeholder="Your passsword" required>
    
    <button type="submit">signIn</button>
    </form>
</div>
