<link rel="stylesheet" href="/css/user_sign_up.css">
<div>
<h1>Sign Up Page</h1>

<form action="/users/create" method="POST">
    
        
        <input type="email" id="email" name="email" placeholder="Your Email" required>
    
    
        <input type="password" name="password" placeholder="Your passsword" required>

        <input type="password" name="confirm_password" placeholder="Re-enter passsword" required>
    
    
        
        <input type="text" name="name" id="name" placeholder="Your Name" required>
    
    <button type="submit">Submit</button>
</form>
<p><a href="/users/auth/google">login with google</a></p>
</div>