.main-container {
  min-height: 83vh;
  display: flex;
  // justify-content: space-between;
  #feed-posts {
    width: 70%;
    padding: 10px;
    border-left: 15px solid peru;
  }

  #all-users {
    width: 30%;
    padding: 10px;
    border-left: 15px solid peru;
    border-right: 15px solid peru;
    text-align: center;
  }
}

body {
  text-align: left;
}

#new-post-form {
  display: flex;
  flex-direction: column;

  input {
    width: 200px;
    margin: 5px auto;
  }
}

#chat-box {
  width: 200px;
  height: 200px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  border: 5px solid black;
  background-color: peru;
  padding: 5px;
  overflow: auto;
}

.left {
  text-align: left;
  background-color: white;
}
.right {
  text-align: right;
}

#close-chat-box {
  position: absolute;
  top: 0;
  right: 0;
}
