.main-container {
  min-height: 83vh;
  display: flex;
  // justify-content: space-between;
  #feed-posts {
    width: 70%;
    padding: 10px;
    border-left: 15px solid peru;
  }

  #all-users {
    width: 30%;
    padding: 10px;
    border-left: 15px solid peru;
    border-right: 15px solid peru;
    text-align: center;
  }
}

body {
  text-align: left;
}

#new-post-form {
  display: flex;
  flex-direction: column;

  input {
    width: 200px;
    margin: 5px auto;
  }
}
