/* styling of html tags */

:root {
  --content-clr: ivory;
}

body {
  background-color: #34656d;
  color: var(--content-clr);
  font-family: 'Montserrat', sans-serif;
}

input,
select,
button,
option {
  background-color: inherit;
  color: var(--content-clr);
  border: 1px solid var(--content-clr);
  border-radius: 10px;
  padding: 3px 4px;
  font-family: inherit;
}

::placeholder {
  color: var(--content-clr);
  font-family: inherit;
}

/* styling of classes */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.wrapper > div {
  margin: 20px;
}

.heading {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.task {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr 2fr;
  justify-items: left;
  grid-gap: 1em;
  width: 80%;
}

.bold {
  font-weight: bold;
}

.cover {
  display: flex;
  justify-content: center;
}

.cover form {
  padding: 20px;
  border: 1px solid var(--content-clr);
}
